* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.skils{
     background-color: rgb(7, 7, 16);
     height: 50vh;
     color: blueviolet;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.allskils{
      border-radius: 35px;
  background-color: #0f1016;
  width: 1380px;
  height: 
  300px;
  padding: 20px 40px;
  margin: auto;
 
 
  gap: 20px;
 border: 1px solid blueviolet;
  position: relative;
    z-index: 1;
}

.allskils::before{
   content: "";
  position: absolute;
  inset: -2px;
  border-radius: 35px;
  background: linear-gradient(
    60deg,
    blueviolet,
    rgb(149, 24, 233),
    #ff00ff,
    blueviolet
  );
  background-size: 400% 400%;
  animation: borderMove 5s linear infinite;
  z-index: -2;
}
.allskils::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 33px;
  background: #0f1016;
  z-index: -1;
}
@keyframes borderMove {
  0% {
    background-position: 10% 10%;
  }

  10% {
    background-position: 200% 150%;
  }
   50% {
    background-position: 350% 50%;
  }
}
.allskils::before {
  box-shadow:
    0 0 10px blueviolet,
    0 0 20px blueviolet,
    0 0 40px blueviolet,
    0 0 80px rgba(138, 43, 226, 0.7);
}
.skill img{
  width: 70px;
height: 70px;

}
.skill {
  width: 300px;
  height: 120px;
  border-radius: 35px;
  background-color: #1a1c2b;

  display: flex;
  justify-content: center;
  align-items: center;
}
.skill:hover{
  scale: 1.1;
  transition: all 1s;
  cursor: pointer;
}
.skill p{
  color:blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  margin: auto;
}
.skilldown{
  display: flex;
  align-items: center;
justify-content: center;
  padding: 30px 0px;
  gap: 25px;
}